* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Colores */
  body {
    background-color: #080710;
    color: #333;
  }
  .separador{
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 2rem;
    width: 95%;
    padding:1em;
    position: absolute;
    left: 2.5%;
    top: 10%;
  }

  /* Cabecera */
  header {
    width: 60%;
    border-radius:30rem;
    background-color: #337ab7;
    color: #fff;
    padding: 20px 30px;
    margin: 0 auto;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Contenido principal */
  main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  /* Secciones */
  .seccion {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5em 1em;
    margin-bottom: 20px;
  }
  
  .seccion h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .seccion1 p{
    text-align: center;
    margin-top: 10px;
  }
  
  /* Pie de página */
  footer {
    border-radius:30rem;
    background-color: #337ab7;
    color: #fff;
    padding: 20px 30px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }