* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores */
body {
  background-color: #080710;
  color: #333;
}

.separador {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 2rem;
  width: 99%;
  padding: 0.5em;
  position: absolute;
  left: 0.5%;
  top: 13%;
}

header {
  min-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0%;
  background-color: #ffa500;
  color: #fff;
  height: 12vh;
}

header div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5rem + 1vw);
}

/* Contenido principal */
main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}
.anadir{
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
  align-items: center;
}
.anadir input{
  transition: all 0.5s;
  margin: 1em;
  padding: 1.5em;
  background-color: #0000ff;
  border-radius: 2em;
  font-size: 0.9em;
  font-weight: 1000;
}

footer {
  margin-top: 2rem;
  border-radius: 30rem;
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
table{
  width: 100%;
  height: 100%;
}
td{
  transition: all 0.5s;
  font-size:calc(0.3rem + 1vw);
  border-radius: 0.2em;
  background-color: rgba(255, 255, 255, 0.13);
  text-align: center;
  color: white;
}
td:hover{
  scale: 1.09;
}
td p{
  width: 80%;
  margin :0.4em auto;
}
th{
  font-size:calc(0.6rem + 0.6vw);
  border-radius: 0.2em;
  color:white;
  padding: 1em;
  background-color: orange;
}
footer p {
  font-size: calc(1rem + 1vw);
}
.Mostrar{
  margin-top: 2em;
}
.Mostrar div{
transition: all 0.5s;
}
.Mostrar div:hover{
  scale: 1.1;
}
.Mostrar div{
  width: calc(20rem + 0.7vw);
  border-radius: 2em;
  background-color: grey;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Mostrar div form {
 margin: 1em auto;
}
.Mostrar div form div {
  width: 100%;
  font-size: 2em;
}
.Mostrar div form div div {
  display: flex;
  flex-direction: row;
}
.Mostrar div form div div p{
  font-size: calc(1rem + 0.4vw);
}
.Mostrar div form input{
  margin: 1em 0;
  border-radius: 1em;
  text-align: center;
  padding: 0.4em;
}
.actu{
  background-color:white;
  width: 100%;
  transition: all 0.5s;
  font-size: calc(0.5rem + 0.5vw);
}
.actu:hover{
  background-color:black;
  color: white;
}
.anadir input:hover{
  background-color: black;
  scale: 1.11;
}
.anadir input{
  background-color: #2f2fc5;
  color: white;
  border-color: transparent;
}
.editar,.borrar{
  transition: all 1.3s;
  width: 90%;
  padding: 1em;
  border-radius: 1em;
}
.editar{
  background-color: chocolate;
}
.borrar{
  background-color: darkgoldenrod;
}
.editar:hover,.borrar:hover{
  scale: 1.08;
  background-color: beige;
}
.borrado{
  padding: 1rem;
  color: white;
}
.borrado p{
  font-size: 1.4rem;
}
.borrado div input{
  transition: all 0.5s;
  width: 10rem;
}
.borrado div input:hover{
  background-color: black;
  color: white;
}