* {
  transition: all 0.5s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores */
body {
  background-color: #080710;
  color: #333;
}

.separador {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 2rem;
  width: 98%;
  padding: 0.5em;
  position: absolute;
  left: 1%;
  top: 13%;
}

/* Cabecera */
header {
  min-height: calc(3.2rem + 1vw);
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0%;
  background-color: #337ab7;
  color: #fff;
  height: 12vh;
}

header div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(0.5rem + 1vw);
}

/* Contenido principal */
main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: 100%;
}

h2{
  font-size: 1rem;
  }
/* Secciones */
.seccion {
  display: grid;
  z-index: 0;
  background-color: #fff;
  border-radius: 10px;
  height: 38vh;
  min-height: 300px;
  min-width: 600px;
  padding: 1.5em 1em;
  margin-bottom: 20px;
  grid-template-rows: 15% 45% 20% 20%;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "div div h2 h2"
    "div div p p"
    "div div f1 f2"
    ". . . .";
}

.seccion div {
  box-sizing: border-box;
  height: 100%;
}

.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: f1;
}

input{
  transition: all 0.5s;
  color: black;
  font-weight: bolder;
  width: calc(12em + 0.6vw);
  height: calc(3rem + 0.5vh);
  border-radius: 3em;
  font-size: calc(0.8rem + 0.5vw);
}
.form1 form input {
  transition: all .4s;
  background-color: orange;
}

.form1 form input:hover {
  background-color: black;
  color: orange;
  scale: 1.1;
}

.form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: f2;
  
}

.form2 form input {
  transition: all .4s;
  background-color: #1845ad;
}

.form2 form input:hover {
  background-color: black;
  color: #559fd7;
  scale: 1.1;
}

div {
  grid-area: div;
}
p {
  grid-area: p;
}

.seccion h2 {
  text-align: center;
  margin: 0;
  grid-area: h2;
  font-size: calc(1.5rem + 1vw);
  font-weight: bold;
}

.seccion p {
  text-align: justify;
  display: flex;
  font-size: calc(0.4rem + 1vw);
  margin: 1.2rem;
}

/* Pie de página */
footer {
  border-radius: 30rem;
  background-color: #337ab7;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
}

footer p {
  font-size: calc(1rem + 1vw);
}